* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    --titlefont: 'Fredericka the Great', serif;
    --textfont: 'Courier Prime', Arial, Verdana, Helvetica, sans-serif;
    font-size: 62.5%;
}

.container {
    margin: 3rem auto;
    width: 50%;
}

header {
    background-color: black;
    width: 100%;
    margin-bottom: 5px;
}

/* header > hr{ 
    position: relative;
    width: 100%;
    border: black solid 0.1px;
    bottom: 21px;
   
} */

header nav {
    display: flex;
    background-color: white;
}

header nav a {
    width: 100%;
    padding: .9rem;
    margin-bottom: .3rem;
    
    text-align: center;   
    font-family: var(--textfont);
    font-size: clamp(1.3rem, 1vw, 2.5rem);

    color: black;
}

header nav a:hover {
    background-color: black;
    color: white;
}

main h2{
    font-family: var(--textfont);
    font-size: clamp(1.2rem, 1vw, 2.5rem);
    color: white;
    font-weight: normal;
    overflow: auto;
}

main .media {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 67% 30%;
    margin-top: .5rem; 
}

.media span{
    background-color: black;
    height: 5rem;
    padding: 1.5rem 1.5rem;
    display: flex;
    align-items: center;
}

.media .pictures div,
main .media .music div{
    border: black 1px solid;
    width: 20rem;
    height: 20rem;
    margin: 1rem auto;  
}

.media .pictures div {
    display: flex;
    justify-content: flex-end;
}

main .news span{
    background-color: black;
    width: 100%;
    height: 5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;     
    padding: 0 1rem;
}

main .news-content {
    display: grid;
    grid-template-areas: 
    "1 2 3"
    "4 5 6";
    grid-template-columns: 28% 28% 28%;
    grid-template-rows: 30rem 30rem;
    row-gap: 4rem;
    justify-content: space-between;
    padding: 3rem 1.5rem;
}

main .news-content div {
    border: black 1px solid;
    /* height: 30rem; */
}

hr {
    position: relative;
    bottom: 30px;
    width: 100%;
    border: black solid 1px;
}

footer {
    background-color: black;
    width: 100%;
    height: 9.9rem;    
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 5rem;
    padding: 1rem;
    color: white;  
}

footer i {
    margin-right: 1rem;
}

