* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    --titlefont: 'Fredericka the Great', serif;
    --textfont: 'Courier Prime', Arial, Verdana, Helvetica, sans-serif;
    font-size: 62.5%;
}

header {
    background-color: black;  
    height: 47.5rem;
    margin-bottom: 2px;
    /* position: relative; */
}

header h1 {
    color: white;
    font-family: var(--titlefont);
    font-size: 10rem;
    font-weight: 400;
    font-style: normal;
    position: relative;
    text-shadow: rgb(10 189 240 / 30%) 3px 3px 0px, rgb(254 1 1 / 30%) -3px -3px 0px;

}



header img {
    width: 35rem;
}

section.media div> div:first-child,
section .news-content > div:first-child {
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .news-content > div:first-child {
    justify-content: space-between;
    padding: 0 15px;
    display: flex;
}

main h2{
    font-family: var(--textfont);
    color: white;
    font-weight: normal;
}

footer {
    background-color: black;
    display: flex;
    justify-content: center;
}
 
footer div{
    display: flex;
    justify-content: space-evenly;
}

footer a{
    font-size: 1.7rem;
    font-weight: 700;
    display: flex;
    color: white;  
    padding: 3rem;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {

    nav {
        display: none;
    }


    section .pictures{
        height: 350px;   
    }

    section .music{
        height: 350px;
    }

    section .news {
        height: 350px;
    }

    footer div p {
        display: none;
    }

    footer a {
        font-size: 1.7rem;
        margin-right: 1rem;
    }

    footer a:last-child {
        margin-right: 0;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px){

    header {
        display: flex;
    }

    nav {
        display: none;
    }

    main h2 {
        font-size: 2rem;
    }

    footer div p {
        display: none;
    }

    section .pictures{
        height: 350px;   
    }

    section .music{
        height: 350px;
    }
    footer a {
        font-size: 2rem;
        margin-right: 5rem;
    }
    footer a:last-child {
        margin-right: 0;
    }

}

@media only screen and (min-width: 961px) {
    #container {
        margin: 3rem auto;
        width: 50%;
    }

    header h1 {
        top: 5rem;
        left: 10rem;
    }

    header h1:last-of-type {
        left: 20rem;
    }

    header nav {
        display: flex;
        background-color: white;
    }

    header nav a {
        width: 100%;
        padding: .9rem;
        margin-bottom: .3rem;
        
        text-align: center;   
        font-family: var(--textfont);
        font-size: clamp(1.3rem, 1vw, 2.5rem);

        color: black;
    }

    header nav a:hover {
        background-color: black;
        color: white;
    }

    main h2 {
        font-size: min(1.2vw, 2.2rem);
    }

    main .media {
        display: grid;
        justify-content: space-between;
        grid-template-columns: 67% 30%;
    }

    .media span{
        background-color: black;
        height: 5rem;
        padding: 1.5rem 1.5rem;
        display: flex;
        align-items: center;
    }

    .media .pictures div,
    main .media .music div{
        border: black 1px solid;
        height: 20rem;
        margin: 1rem auto;  
    }

    .media .pictures div {
        display: flex;
        justify-content: flex-end;
    }

    main .news-content div {
        border: 1px solid black;
        height: 20rem;
        margin: 1rem auto;
    }

    footer a {
        margin: .5rem 2rem;
    }

    footer i {
        margin-right: 1rem;
    }


    /* hr {
        position: relative;
        bottom: 30px;
        width: 100%;
        border: black solid 1px;
    } */

}
